@media (max-width: 575.98px) {
    #showcase h1 {
        font-size: 30px;
        position: relative;
        bottom: 80px;
    }

    #showcase p {
        display: none;
    }

    #showcase a {
        font-size: 15px;
        width: 250px;
        position: relative;
        right: 50px;
    }

    #showcase-2 .section-text {
        font-size: medium;
    }

    #showcase-3 {
       flex-direction: column;
    }

    #contact-info .container-fluid {
        flex-direction: column;
        margin-top: 2rem;
        width: 90%;
    }

    #contact-info .container-fluid a {
        font-size: small;
    }


    #testimonials {
        flex-direction: column;
        margin-top: -25rem;
    }

    #services .container-fluid {
        height: auto;
        width: 100%;
    }

    #mercatis .mercati {
        font-size: smaller;
    }

    #testimonials p {
        font-size: smaller;
    }
    
    #testimonials h2 {
        margin-top: 250px;
    }

    #about-info {
        margin-bottom: -10rem;
    }

    
    #about-info img {
        display: none;
    }

    #about-info .info-left p {
        padding-left: 3rem;
        margin-right: 180px;
        padding-top: 2rem;
    }

    #about-info .info-left h1 {
        margin-top: -80px;
    }
    .card {
        margin-left: 2rem;
        margin-bottom: 3rem;
    }

    #row-service {
        justify-content: center !important;
        margin-right: 20px;
    }
    
}



@media (max-width: 767.98px) {
    #showcase-2 .section-text {
        font-size: medium;
    }

    #showcase-3 {
       flex-direction: column;
    }

    #contact-info .container-fluid {
        flex-direction: column;
        width: 90%;
    }

    #contact-info .container-fluid a {
        font-size: small;
    }


    #testimonials {
        flex-direction: column;
        margin-top: -25rem;
    }

    #services .container-fluid {
        height: auto;
        width: 100%;
    }

    #mercatis .mercati {
        font-size: smaller;
    }

    #testimonials p {
        font-size: smaller;
    }
    
    #testimonials h2 {
        margin-top: 250px;
    }
    
    #services p {
        font-size: medium;
    }
    
    #about-info img {
        display: none;
    }

    #about-info .info-left p {
        padding-left: 3rem;
        margin-right: 180px;
        padding-top: 2rem;


    }

    #about-info .info-left h1 {
        margin-top: -80px;
    }

    
}



@media (max-width: 991.98px) {
    #showcase-3 {
        flex-direction: column;
     }

}




@media (max-width: 1199.98px) {
    
}




@media (max-width: 1399.98px) {
    
}