

html, body {
    font-family: 'Gloria Hallelujah', cursive;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}


a {
    color: #eee;
    text-decoration: none;
}

/* Utility */

.btn {
    display: inline-block;
    font-size: 17px;
    color: #fff;
    background: #222;
    padding: 13px 18px;
    border: none;
}

.btn-light {
    display: inline-block;
    background: #fff;
    color: #222;
    padding: 8px 12px;
    border: none;
}

.text-center {
    text-align: center;
}

.btn-light:hover {
    background-color: dodgerblue;
    color: #fff;
}

.btn-dark:hover {
    background-color: #fff;
    opacity: 0.7;
}

.btn:hover {
    background-color: dodgerblue;
    color: #fff;
}


/* Header Navbar */

.navbar-collapse ul {
    font-size: large;
}

.container-fluid a {

    font-size: 20px;
    font-family: 'Gloria Hallelujah', cursive;
}

a.navbar-brand {
    text-transform: uppercase;
  font-size: 30px;
}




/* Section 1 */

#showcase .container {
    display: flex;
    position: relative;
    height: 80vh;
    width: 100%;
    background: url(../img/food1.jpg) no-repeat center center/cover;
    background-color: rgb(182, 178, 178);
    background-blend-mode: multiply;
    align-items: center;
    margin-bottom: 8rem;   
}

#showcase .container h1 {
    color: #fff;
    position: absolute;
    margin-top: 25rem;
    font-size: 6rem;
    opacity: 0.9;
    font-family: 'Gloria Hallelujah', cursive;
}

#showcase .container p {
    color: #fff;
    font-size: 2.5rem;
    margin-top: 37rem;
    margin-left: 1rem;
    font-family: 'Gloria Hallelujah', cursive;
}

.color-primary {
    color: #fff;
}

.container #btn1 {
    margin-top: 40rem;
    margin-left: 5rem;
}

/* Section2 */

#showcase-2 {
    height: 600px;
    font-size: x-large;
}

#showcase-2 h1 {
    font-family: 'Gloria Hallelujah', cursive;
}


#showcase-2 .container {
    display: flex;
    height: 500px;
    width: 100%;
}

#showcase-2 .container .image {
    background: url('../img/Banco1.jpeg') no-repeat center center/cover;
    flex: 1;
 } 

#showcase-2 .container .section-text {
     display: flex;
     flex: 1;
     background: #fff;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #222;
     font-size: medium;
 }


 /* Section 3 */

 #showcase-3 {
     display: flex;
    /* height: 50px; */ 
     align-items: center;
     text-align: center;
     font-size: large;
     margin-top: 0;
     margin-bottom: 3.5rem;
     
 }

 .box-white {
     background: #fff;
 }

 .box-dodgerblue {
     background: dodgerblue;
 }

 .box {
     flex: 1;
     padding: 100px 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 #showcase-3 i {
     padding-bottom: 20px;
 }

 #showcase-3 h3 {
     padding-bottom: 20px;
     font-family: 'Gloria Hallelujah', cursive;;
 }

 /* Footer */

 #footer {
     position: bottom;
     bottom: 0px;
     line-height: 1;
     float: none;
     width: 100%;
     background: #222;
     padding: 10px 10px 10px 10px;
     color: #fff;
     text-align: center;
 }


 /* About Info */



 #about-info .container {
     display: flex;
     justify-content: center;
     padding: 50px 0;
 }

 #about-info img {
     width: 50%;
     border-radius: 50%;
     margin: auto;
     border: 3px solid #222;
 }

 #about-info .info-left {
     margin-top: 2rem;
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 3rem;
 }

 #about-info .info-left p {
     width: 80%;
     padding-bottom: 1.5rem;
     font-size: 1rem;
 }

 #about-info .info-left h1 {
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
    font-family: 'Gloria Hallelujah', cursive;
}

 #about-info .info-right {
     flex: 1;
    display: flex;
} 

/* Video */

#video-info {
    background: url(/img/sea.jpg) no-repeat center center/cover;
    padding-top: 10rem;
    padding-bottom: 25rem;
    margin-bottom: -3rem;
}

.vidwrapper {
    width: 100%;
    max-width: 1000px;
    margin: 3em auto;
    border: 5px solid #222;
}

.vidcontainer {
    width: 100%;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;  /* 720/1280 */
    border: 5px solid #222;
    position: relative;
}

.vidcontainer video {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}




/* Contact Info */

#contact-info .container-fluid {
    display: flex;
    justify-content: space-evenly;
    background: #222;
    color: #fff;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    margin-top: 3rem;
    padding-top: 5rem;
    font-size: medium;
}

#contact-info .container-fluid a {
    font-size: medium;
}

#contact-info i,
#contact-info h3 {
    margin-bottom: 1rem;
}

#contatti {
    background: url('../img/sea.jpg')no-repeat center center/cover;
    margin-top: -30px;
    margin-bottom: -50px;
}



/* Dove Trovarci */

#mercatis .card {
    opacity: 0.9;
    border: 3px solid #222
}

#mercatis {
    margin-top: 5rem;
    max-width: 100%;
}

#mercatis .mercati img {
    width: 70px;
    border-radius: 60%;
    display: block;
}

#mercatis h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 3.5rem;
    background: #222;
    margin-bottom: 2rem;
    opacity: 0.8;
}

#mercatis p {
    width: 90%;
    color: #222;
    font-size: medium;
}

#mercatis .mercati {
    padding: 1;
    margin-bottom: 1rem;
    border-radius: 5px;
    opacity: 0.9;
    background: #222;
    display: flex;
    font-size: large;
    justify-content: space-around;
    align-items: center;
} 

.row .card-img-where {
    width: 250px;
    
}

#form {
    align-items: center;
    text-align: center;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
}

#form h2 {
    font-size: 60px;
    margin-bottom: 3rem;
    font-family: 'Gloria Hallelujah', cursive;;
}


#form textarea {
    border: 2px solid #222;
}

#form .form-control {
    border: 2px solid #222; 
}


#form input {
    margin-top: 2rem;
}

#form label {
    text-transform: uppercase;
}


/* SERVIZI */

.card h5 {
    text-transform: uppercase;
}


#carouselExampleInterval {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

#service .card {
    border: 3px solid #222
}

#gallery h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: #222;
    font-family: 'Gloria Hallelujah', cursive;
}

#gallery hr {
    color: #222;
    height: 4px;
}

#gallery img {
    background: #222;
    opacity: 1;
    transition: opacity 0.25s;
}

#gallery img:hover {
    opacity: 0.6;
}